{% extends 'base.html' %}
{% load static %}

    {% block content %}
    {{error}}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First name"><br>
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="last_name" placeholder="Last name"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="password1"><br>
        <input type="password" name="password2" placeholder="Confirm password"><br>
        <input type="submit" value="Kiriting">
    </form> 
    

    <h2>Welcome to my new project</h2>
    {% endblock content %}

